.container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;

}

.matchs{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column:  2;
    grid-row:  1;
    justify-content: center;
}

.matchs> h2 {
    background-color: blueviolet;
    text-align:center;
    outline: 1px solid black;
    width:90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    color:white;
}

.facebook {
    grid-column:  1;
    grid-row:  1/span 2;
}

.sponsor {
    grid-column:  2;
    grid-row:  2;
}

.match-slide {
    display: none !important;
}

.match-slide.active {
    display: block !important;
}

.match-container {
    width: 90%;
    height: 200px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    text-align: center;
    align-items: center;
    margin-top: 0;
    color:white;
    background-color: gray;
}

.match-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

.match-slide.active {
    transform: translateX(0);
}

.match-slide.next {
    transform: translateX(100%);
}

.match-slide.prev {
    transform: translateX(-100%);
}

.match-content {
    padding: 10px;
}

.arrow {
    display: flex;
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 50px;
    background-color: black;
    color: white;
    line-height: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.arrow.prev {
    left: 0;
}

.arrow.next {
    right: 0;
}