.sidebar {
    position: fixed; /* Fixe la barre latérale à une position spécifique */
    top: 150px; /* Positionne la barre latérale en haut de la page */
    left: 0; /* Positionne la barre latérale à gauche de la page */
    height: 100%; /* Définit la hauteur de la barre latérale */
    width: 100px; /* Définit la largeur de la barre latérale */
    overflow: auto; /* Ajoute une barre de défilement si le contenu dépasse la hauteur de la barre latérale */
    background-color: #333; /* Définit la couleur de fond de la barre latérale */
    padding: 10px; /* Ajoute de l'espace autour du contenu de la barre latérale */
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    
}

.nav-item {
    margin-bottom: 10px;
}

.nav-link {
    text-decoration: none;
    color : white;
}

.nav-link.active {
    color: #007bff;
}

.tab-content {
    margin-left: 220px; /* Largeur de la barre de navigation plus un peu d'espace */
    padding: 20px;
    border-left: 1px solid #ddd;
}

.tab-pane {
    display: none;
}

.tab-pane.show.active {
    display: block;
}

.tab-pane h2 {
    margin-top: 0;
}

.tab-pane img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}